*.iml
.gradle
.externalNativeBuild
.cxx
.DS_Store
/local.properties
/.idea/caches
.idea/
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
/captures
local.properties