*.iml
.gradle
.externalNativeBuild
.cxx
.DS_Store
.com.google.firebase.crashlytics.files.v1
/local.properties
/.idea/caches
.idea/
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
/captures
local.properties

*.PersistedInstallation.W0RFRkFVTFRd+MTo3Mjk1ODc3NDIwNjA6YW5kcm9pZDplN2Q2Zjg3Yzc4M2Y1MmI5YTQyZjQ5
*.generatefid